<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Conveyor Dashboard</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="app/lib/angular/angular.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/monokai-sublime.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <!-- <script src="app/lib/angular-animate/angular-animate.min.js" charset="utf-8"></script>
    <script src="app/lib/angular-aria/angular-aria.min.js" charset="utf-8"></script>
    <script src="app/lib/angular-material/angular-material.min.js" charset="utf-8"></script> -->
    <script src="app/modules/smslogs/smslogs.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container" ng-app="smslogs" ng-controller="smslogsController" ng-cloak>

      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Data" ng-model="searchData">
          </div>
        </div>
      </form>

      <table class="table table-bordered table-striped">

        <thead>
          <tr>
            <td ng-click="sortType = '_id'; sortReverse = !sortReverse">
              <a href="#">
                ID
                <span ng-show="sortType == '_id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == '_id' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td ng-click="sortType = 'communication_type'; sortReverse = !sortReverse">
              <a href="#">
              Communication Type
                <span ng-show="sortType == 'communication_type' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'communication_type' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td ng-click="sortType = 'guid'; sortReverse = !sortReverse">
              <a href="#">
              GUID
                <span ng-show="sortType == 'guid' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'guid' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td ng-click="sortType = 'product_name'; sortReverse = !sortReverse">
              <a href="#">
              Product Name
                <span ng-show="sortType == 'product_name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'product_name' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td ng-click="sortType = 'sender_id'; sortReverse = !sortReverse">
              <a href="#">
              Sender ID
                <span ng-show="sortType == 'sender_id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'sender_id' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td ng-click="sortType = 'sent_status'; sortReverse = !sortReverse">
              <a href="#">
              Sent Status
                <span ng-show="sortType == 'sent_status' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'sent_status' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td ng-click="sortType = 'mobile'; sortReverse = !sortReverse">
              <a href="#">
              Mobile
                <span ng-show="sortType == 'mobile' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'mobile' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td ng-click="sortType = 'custom_id'; sortReverse = !sortReverse">
              <a href="#">
              Custom ID
                <span ng-show="sortType == 'custom_id' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'custom_id' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>

          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="data in smsData | orderBy:sortType:sortReverse | filter:searchData">
            <td>{{ data._id }}</td>
            <td>{{ data.communication_type }}</td>
            <td>{{ data.guid }}</td>
            <td>{{ data.product_name }}</td>
            <td>{{ data.sender_id }}</td>
            <td>{{ data.sent_status }}</td>
            <td>{{ data.mobile }}</td>
            <td>{{ data.custom_id }}</td>
          </tr>
        </tbody>

      </table>

    </div>
    <!-- <script>hljs.initHighlightingOnLoad();</script> -->
  </body>
</html>
